/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    padding: 1rem 20rem;
    background-color: #FF6900;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}.info{
    color: white;
    width: 10.5rem;
    font-weight: 600;
}

.boolean{
    width: 8rem;
}

.icons img{
    width: 1rem;
}